.service {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  gap: 60px;
}

.service-img {
  width: 320px;
  height: 280px;
}

.service-info {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.main-title {
  font-size: 32px;
  margin-bottom: 24px;
  text-decoration: underline;
}

.sub-title {
  font-size: 28px;
  margin-bottom: 24px;
}

.service-desc {
  font-size: 16px;
  width: 560px;
  text-align: left;
}

.service-small {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.list {
  text-align: left;
  font-size: 15px;
}
.list li {
  list-style: disc;
  margin-bottom: 6px;
}
